
body {
  font-family: 'Arial', sans-serif;
  background-color: #fff8f0;
  color: #333;
  margin: 0;
  padding: 0;
}

main.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}


h1 {
  text-align: center;
  font-size: 2.5rem;
  color: whitesmoke;
  margin-bottom: 20px;
}

h2 {
  color: #e67e22;
  margin-top: 30px;
  border-bottom: 2px solid #e67e22;
  padding-bottom: 5px;
}


p {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  margin: 5px 0;
}
