<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheet/style.css" />
  <link rel="stylesheet" href="/stylesheet/restaurant.css" />
  <title>Restaurant Details</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <main class="container"></main>
  <h1>Restaurant Details</h1>
  <p><strong>Name:</strong> <%= restaurant.name %></p>
  <p><strong>Location:</strong> <%= restaurant.location %></p>
  <p><strong>Phone number:</strong> <%= restaurant.phone %></p>
  <a href="/users">â† Back to Users</a>
  </main>
</body>
</html>
